html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    border: 0 none;
    font-size: 12px;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}
html {
    line-height: 1.15;
}
a{
    text-decoration: none;
}
.box{
    max-width: 640px;
    width:100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.border-box{
    box-sizing: border-box;
}
.fixed-bottom{
    position: fixed;
    width:100%;
    bottom:0;
    left:0;
    border-radius: 0;
}
.relative{
    position: relative;
}
.overflow-hidden{
    overflow: hidden;
}
.flex-wrp {
    display: flex;
}
.flex-flow-row{
    flex-flow: row;
    flex-wrap: wrap;
}
.equal {
   flex: 1;
}
.am-list-item .am-list-line .am-list-extra{
    flex-basis: 50%!important;
}
.equal-no {
   flex: none;
}
.flex-cell{
    flex-direction:column;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-align-center{
    align-items: center;
}
.flex-align-stretch{
    align-items: stretch;
}
.flex-end{
    align-items: flex-end;
}
.flex-middle{
    justify-content:center;
}
.flex-bottom{
    justify-content:flex-end;
}
.flex-item {
    flex: 1;
}
.flex-between{
    justify-content: space-between;
}
.flex-around{
    justify-content: space-around;
}
.color1{
    color:#fff;
}
.color2{
    color:#000;
}
.color3{
    color:#333;
}
.color999{
    color:#999;
}
.color4{
    color:#383a53;
}
.color5{
    color:#fded02;
}
.color6{
    color:#ff0009;
}
.bg-blue{
    background-color: #509fe4;
}
.bg-red{
    background-color: #ff0009;
}
.bg-pink{
    background-color: #ff585f;
}
.bg-yellow{
    background-color: #fded02;
}
.bg-white{
    background-color: white;
}
.bg-black-1{
    background-color: rgba(0,0,0,0.1);
}
.bg-black-5{
    background-color: rgba(0,0,0,0.5);
}
.bg-white-5{
    background-color: rgba(255,255,255,0.5);
}
.size24{
    font-size: 0.24rem;
}
.size28{
    font-size: 0.28rem;
}
.size32{
    font-size: 0.32rem;
}
.size36{
    font-size: 0.36rem;
}
.size40{
    font-size: 0.40rem;
}
.size48{
    font-size: 0.48rem;
}
.line-h15{
    line-height: 1.5;
}
.text-center{
    text-align: center;
}
.block{
    display: block;
}
.pt10{
    padding-top: 0.1rem;
}
.pl10{
    padding-left: 0.1rem;
}
.pr10{
    padding-right: 0.1rem;
}
.ptb10{
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
.ptb20{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.pt20{
    padding-top: 0.2rem;
}
.pb20{
    padding-bottom: 0.2rem;
}
.plr20{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}
.pl20{
    padding-left: 0.2rem;
}
.pr20{
    padding-right: 0.2rem;
}
.ptb30{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
.plr30{
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
.mt10{
    margin-top: 0.1rem;
}
.mt20{
    margin-top: 0.2rem;
}
.mt30{
    margin-top: 0.3rem;
}